---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<style type="text/css">
h2 {
    color:#8D2008;
}
</style>

{% include base_path %}
{% include group-by-array collection=site.teaching field="tags" %}

{% assign posts1 = group_items[1] %}
<h2>{{group_names[1]}}</h2>
{% for post in posts1 reversed%}
	{% include archive-single.html %}
{% endfor %}

{% assign posts0 = group_items[0] %}
<h2>{{group_names[0]}}</h2>
{% for post in posts0 reversed%}
	{% include archive-single.html %}
{% endfor %}
  


