---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.teaching field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  {% if tag == "Instructor" %}
	  <h2>Instructor</h2>
	  {% for post in posts reversed%}
		{% include archive-single.html %}
	  {% endfor %}
  {% endif %}
  
  {% if tag == "Guest Lecturer" %}
	  <h2>Guest Lecturer</h2>
	  {% for post in posts reversed %}
		{% include archive-single.html %}
	  {% endfor %}
  {% endif %}
  
  {% if tag == "Teaching Assistant" %}
	  <h2>Teaching Assistant</h2>
	  {% for post in posts reversed %}
		{% include archive-single.html %}
	  {% endfor %}
  {% endif %}
  
{% endfor %}
